# cloud-config
package_update: true
package_upgrade: true

packages:
  - docker.io

runcmd:
  # Add ubuntu user to docker group
  - usermod -aG docker ubuntu

  # Enable Docker service
  - systemctl enable docker
  - systemctl start docker
