#cloud-config
package_update: true
package_upgrade: true

packages:
  - docker.io

runcmd:
  # Remove all existing Port directives
  - sed -i '/^Port[[:space:]]/d' /etc/ssh/sshd_config

  # Set SSH port explicitly
  - echo 'Port 2200' >> /etc/ssh/sshd_config

  # Validate before restart
  - sshd -t

  # Restart SSH
  - systemctl restart sshd

  # Firewall
  - ufw allow 2200/tcp
  - ufw allow 22/tcp
  - ufw --force enable
